.good {
  color: rgb(0, 176, 80)
}

.satisfactory {
  color: rgb(146, 208, 80)
}

.moderate {
  color: rgb(255, 255, 0)
}

.poor {
  color: rgb(255, 153, 0)
}

.veryPoor {
  color: rgb(255, 0, 0)
}

.severe {
  color: rgb(192, 0, 0)
}
